In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.set_option("display.max_row",None)
pd.set_option("display.max_columns",None)

In [4]:
df = pd.read_csv("/content/sample_data/houses.csv")

In [5]:
df.head(10)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272
5,20 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/20-bhk-bedroom-indepen...,NaN,4.5 Crore,"₹ 39,062/sq.ft.",(107 sq.m.) Plot Area,Plot area 128(107.02 sq.m.),20 Bedrooms,20 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",4 Floors,East,1 to 5 Year Old,"['Huda city centre metro station', 'New Life C...",Best for investment purpose. 3l rupees monthly...,"['1 Water Purifier', '1 Fridge', '20 Fan', '1 ...","['Water Storage', 'Park', 'Visitor Parking', '...","['Environment5 out of 5', 'Lifestyle5 out of 5...",V69218808
6,5 Bedroom House for sale in Sector 66 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Emaar MGF Marbella,12 Crore,"₹ 37,037/sq.ft.",(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),5 Bedrooms,5 Bathrooms,3+ Balconies,"Servant Room,Pooja Room,Store Room","Sector 66 Gurgaon, Gurgaon, Haryana",3 Floors,East,0 to 1 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",Available for sale 5bhk independent house in e...,"['4 Wardrobe', '1 Water Purifier', '6 Fan', '1...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment3 out of 5', 'Lifestyle4 out of 5...",G55931988
7,16 Bedroom House for sale in DLF Phase 1,https://www.99acres.com/16-bhk-bedroom-indepen...,Luxury DLF City Floors,20 Crore,"₹ 48,889/sq.ft.",(418 sq.m.) Plot Area,Plot area 500(418.06 sq.m.),16 Bedrooms,16 Bathrooms,3+ Balconies,Servant Room,"DLF Phase 1, Gurgaon, Haryana",4 Floors,NaN,0 to 1 Year Old,"['Sikandarpur metro station', 'Sikanderpur met...",Prime location on dlf phase - 1 builder floor ...,"['16 Wardrobe', '26 Fan', '1 Exhaust Fan', '16...","['High Ceiling Height', 'Park', 'Visitor Parki...","['Environment5 out of 5', 'Lifestyle5 out of 5...",E67952012
8,6 Bedroom House for sale in DLF Phase 2,https://www.99acres.com/6-bhk-bedroom-independ...,NaN,10.85 Crore,"₹ 38,150/sq.ft.",(264 sq.m.) Plot Area,Plot area 316(264.22 sq.m.),6 Bedrooms,6 Bathrooms,1 Balcony,Store Room,"DLF Phase 2, Gurgaon, Haryana",3 Floors,North-East,1 to 5 Year Old,"['Vodafone belvedere towers metro station', 'D...","6 bhk kothi in dlf phase 2, gurgaon available ...","['4 Wardrobe', '1 Water Purifier', '5 Fan', '1...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5...",U69218678
9,3 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/3-bhk-bedroom-independ...,Sushant Lok 1 Builder Floors,1.95 Crore,"₹ 10,077/sq.ft.",(180 sq.m.) Plot Area,Plot area 215(179.77 sq.m.),3 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"C Block Small Nos, Sushant Lok Phase 1, Gurgao...",4 Floors,West,0 to 1 Year Old,"['Huda city centre metro station', 'Sector 42-...",Brand new builder floor at very reasonable pri...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Lifestyle5 out of 5...",L69688060

In [7]:
df.shape

(1044, 21)

In [8]:
df.isnull().sum()

property_name        0
link                 0
society            591
price               76
rate                39
area                 0
areaWithType        57
bedRoom             57
bathroom            57
balcony             57
additionalRoom     455
address             13
noOfFloor           77
facing             370
agePossession       57
nearbyLocations    131
description          8
furnishDetails     301
features           370
rating             137
property_id          8
dtype: int64

# Drop Unwanted Columns

In [9]:
# columns to Drop
df.drop(columns=["link","property_id"],inplace = True)

In [10]:
df.head(5)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [11]:
df.rename(columns={"rate" : "price_per_squft"},inplace = True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1044 non-null   object
 1   society          453 non-null    object
 2   price            968 non-null    object
 3   price_per_squft  1005 non-null   object
 4   area             1044 non-null   object
 5   areaWithType     987 non-null    object
 6   bedRoom          987 non-null    object
 7   bathroom         987 non-null    object
 8   balcony          987 non-null    object
 9   additionalRoom   589 non-null    object
 10  address          1031 non-null   object
 11  noOfFloor        967 non-null    object
 12  facing           674 non-null    object
 13  agePossession    987 non-null    object
 14  nearbyLocations  913 non-null    object
 15  description      1036 non-null   object
 16  furnishDetails   743 non-null    object
 17  features         674 non-null    object
 18  rating           907 non-null    object
dtypes: object(19)
memory usage: 155.1+ KB

# Remove Rating score and start from Society column

In [13]:
df["society"].value_counts()

society
Emaar MGF Marbella                                   26
Vipul Tatvam Villa                                   26
International City by SOBHA Phase 2                  26
International City by Sobha Phase 1                  23
Unitech Uniworld Resorts                             13
Unitech Espace                                       11
DLF City Plots Phase 2                               11
DLF City Plots                                       11
Bptp Visionnaire                                      9
Eldeco Mansionz                                       9
Uppal Southend4.0 ★                                   8
Not Applicable                                        7
Ansals Palam Vihar                                    6
Experion Windchants3.8 ★                              6
Sushant Lok 1 Builder Floors                          6
DLF City Phase 1                                      5
Ansal Sushant Lok Plots4.1 ★                          4
nul                                                   4
DLF Alameda                                           4
Unitech Aspen Greens                                  4
DLF New Town Heights 24.0 ★                           4
Vatika India Next4.1 ★                                4
DLF City Plots Phase 3                                3
Puri Diplomatic Greens4.0 ★                           3
Central Park Flower Valley                            3
Housing Board Colony                                  3
Anant Raj Estates                                     3
Vatika Signature Villas                               3
Eros Rosewood Villas                                  3
BPTP Astaire Gardens3.7 ★                             3
Unitech Nirvana Birch Court                           3
Ansals Florence Villa                                 3
Eros Rosewood City4.0 ★                               3
Malibu Towne                                          3
SS Aaron Ville                                        3
Luxury DLF City Floors                                3
Rattan Garden                                         3
Sector 14 RWA                                         3
Palam Vihar Extension West Zone RWA                   3
Tata Primanti4.1 ★                                    3
Unitech Deerwood Chase                                2
Project Housing Board Colony                          2
Project Mianwali Colony                               2
Bestech Park View Ananda4.2 ★                         2
shivpuri                                              2
Suncity Essel Towers4.2 ★                             2
DLF New Town Heights3.7 ★                             2
Ansal API Esencia3.7 ★                                2
Spaze Privy3.9 ★                                      2
Emaar Emerald Hills4.1 ★                              2
Unitech Palms South City 1                            2
BPTP Pedestal                                         2
RWA Sector 46                                         2
Emaar The Palm Springs                                2
Suncity Township4.1 ★                                 2
Nirvana Cedar Crest                                   2
SS Hibiscus                                           2
Silverglades Tarudhan Valley Golf Resort              2
Ardee City3.8 ★                                       2
Hans Enclave                                          2
Satya The Hermitage3.5 ★                              2
Sobha City                                            2
IFFCO Nagar and 17B RWA                               2
Bhim Garh Kheri                                       2
Saksham Welfare Association                           2
Unitech Escape3.8 ★                                   2
Sector 38 RWA                                         2
house number B-34                                     1
ATS Tourmaline3.9 ★                                   1
DLF Gardencity Enclave                                1
Surat nagar phase 2                                   1
My Home                                               1
Rajendra Park Gurgaon                                 1
Sector-17C                                            1
huda sector-56 gurgaon                                1
private house                                         1
All Punjabi Welfare Association                       1
sector 37                                             1
FLOOR WISE DESIGNER KOTHI                             1
Grover Homes Sec 4                                    1
Signature Global Park4.0 ★                            1
Ansal Heights3.2 ★                                    1
Ninex City                                            1
rajendra park sec 105                                 1
HUDA Ashok Vihar Phase 13.9 ★                         1
Ashok Vihar Phase 3 Gurgaon                           1
Farrukhnagar                                          1
Prem Kunj                                             1
secter 16a daultabad faridabad house no 313           1
Bhawani enclave                                       1
Ansal Celebrity Homes                                 1
Shri Shyam Residency                                  1
HUDA Housing Board Colony4.1 ★                        1
Tulip Yellow                                          1
shree krishna homes                                   1
Laxmi Garden Sector-11                                1
ROW HOUSE                                             1
Jacobpura                                             1
Indiabulls Centrum Park3.7 ★                          1
Krishna Palace                                        1
Huda Flats                                            1
Naman Residency                                       1
Madan puri                                            1
Smart World Gems                                      1
Tulip Ivory3.5 ★                                      1
MANOHAR NAGAR                                         1
Vatika Sovereign Next                                 1
DLF The Grove                                         1
Surendra Homes Dayanand Colony                        1
RK Excelo                                             1
Anand Garden, Sector-105                              1
Jacobpura Gurugram                                    1
Hero Homes                                            1
Ganpati Heights Apartment                             1
Huda Plots                                            1
DLF Garden City Floors                                1
Emaar MGF The Palm Drive4.1 ★                         1
Anamika Enclave                                       1
bhim nagar, sector 6                                  1
DLF The Arbour                                        1
Om Nagar, Sector-11                                   1
Suncity Avenue 76                                     1
SS Omnia                                              1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Greenopolis                                           1
Vipul World3.9 ★                                      1
Nirmal Enclave, Maruti Kunj Road                      1
Ansal Esencia Sovereign Floors                        1
Raj Villas                                            1
Shivaji Nagar Residential                             1
jacob pura                                            1
mahavir pura                                          1
Bhim Nagar Society                                    1
Sai Kripa Floors 5                                    1
DLF City Plot Phase 4                                 1
Signature Global City 92                              1
mian wali                                             1
HUDA Plot Sector 38                                   1
nirvana country                                       1
Landmark House                                        1
Nitin Vihar                                           1
Sector 15 Part 2 RWA                                  1
cloudnine cottages                                    1
u block dlf phase 3 road no 21                        1
Ashok vihar phase III Extension                       1
Ansal                                                 1
Adani Brahma Samsara4.2 ★                             1
Sheetla Enclave                                       1
DLF City Plot Phase 3                                 1
Signature Global City 63A                             1
rattan vihar rajendra park                            1
sneh vihar                                            1
Unitech South City 23.8 ★                             1
Smart World Orchard                                   1
Ansal Florence Super                                  1
Ireo Victory Valley4.1 ★                              1
Ansal API Spanish Court                               1
4S Aradhya Homes                                      1
Birla Navya                                           1
Central Park Flower Valley Cerise Floors              1
DLF City Plots Phase 4                                1
Kothi                                                 1
Ansal Sushant Lok                                     1
Central Park                                          1
Signature Global City                                 1
DLF Floors Phase 3                                    1
Ansal Sushant Residency                               1
DLF South City 1                                      1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
Vatika The Seven Lamps3.8 ★                           1
Unitech Greenwood City3.6 ★                           1
Nirvana Country                                       1
Signature Global City 81                              1
Satya The Legend3.8 ★                                 1
DLF Pink Town House4.0 ★                              1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
The Laburnum                                          1
Ansal Sushant Lok 2                                   1
Sector 57 Huda                                        1
Godrej Meridien                                       1
Huda                                                  1
Huda Floor                                            1
Name: count, dtype: int64

In [14]:
import re

df['society'] = (
    df['society']
    .astype(str)
    .str.replace(r'\d+(\.\d+)?\s?★', '', regex=True)
    .str.strip()
    .str.lower()
)

In [15]:
df["society"].value_counts()

society
nan                                                  591
emaar mgf marbella                                    26
vipul tatvam villa                                    26
international city by sobha phase 2                   26
international city by sobha phase 1                   23
unitech uniworld resorts                              13
unitech espace                                        11
dlf city plots                                        11
dlf city plots phase 2                                11
bptp visionnaire                                       9
eldeco mansionz                                        9
uppal southend                                         8
not applicable                                         7
sushant lok 1 builder floors                           6
experion windchants                                    6
dlf new town heights                                   6
ansals palam vihar                                     6
dlf city phase 1                                       5
unitech aspen greens                                   4
dlf alameda                                            4
ansal sushant lok plots                                4
vatika india next                                      4
nul                                                    4
housing board colony                                   3
central park flower valley                             3
anant raj estates                                      3
tata primanti                                          3
puri diplomatic greens                                 3
unitech nirvana birch court                            3
ansals florence villa                                  3
vatika signature villas                                3
sector 14 rwa                                          3
ss aaron ville                                         3
eros rosewood city                                     3
rattan garden                                          3
malibu towne                                           3
palam vihar extension west zone rwa                    3
dlf city plots phase 3                                 3
luxury dlf city floors                                 3
bptp astaire gardens                                   3
eros rosewood villas                                   3
sobha city                                             2
bestech park view ananda                               2
project mianwali colony                                2
ansal api esencia                                      2
shivpuri                                               2
suncity essel towers                                   2
emaar emerald hills                                    2
unitech deerwood chase                                 2
spaze privy                                            2
saksham welfare association                            2
nirvana country                                        2
suncity township                                       2
ireo victory valley                                    2
nirvana cedar crest                                    2
rwa sector 46                                          2
sector 38 rwa                                          2
silverglades tarudhan valley golf resort               2
hans enclave                                           2
iffco nagar and 17b rwa                                2
bptp pedestal                                          2
unitech palms south city 1                             2
emaar the palm springs                                 2
ardee city                                             2
unitech escape                                         2
satya the hermitage                                    2
ss hibiscus                                            2
project housing board colony                           2
bhim garh kheri                                        2
signature global park                                  1
surat nagar phase 2                                    1
huda sector-56 gurgaon                                 1
sector-17c                                             1
grover homes sec 4                                     1
floor wise designer kothi                              1
sector 37                                              1
my home                                                1
ansal heights                                          1
ninex city                                             1
rajendra park sec 105                                  1
secter 16a daultabad faridabad house no 313            1
all punjabi welfare association                        1
private house                                          1
huda ashok vihar phase                                 1
ashok vihar phase 3 gurgaon                            1
farrukhnagar                                           1
prem kunj                                              1
house number b-34                                      1
rajendra park gurgaon                                  1
dlf gardencity enclave                                 1
shree krishna homes                                    1
laxmi garden sector-11                                 1
huda housing board colony                              1
tulip yellow                                           1
shri shyam residency                                   1
madan puri                                             1
indiabulls centrum park                                1
jacobpura                                              1
huda flats                                             1
smart world gems                                       1
ganpati heights apartment                              1
hero homes                                             1
dlf garden city floors                                 1
vatika sovereign next                                  1
manohar nagar                                          1
anamika enclave                                        1
bhim nagar, sector 6                                   1
surendra homes dayanand colony                         1
dlf the grove                                          1
rk excelo                                              1
anand garden, sector-105                               1
jacobpura gurugram                                     1
huda plots                                             1
tulip ivory                                            1
emaar mgf the palm drive                               1
om nagar, sector-11                                    1
bhawani enclave                                        1
dlf the arbour                                         1
ats tourmaline                                         1
anshul                                                 1
sare crescent parc royal greens phase 1                1
greenopolis                                            1
vipul world                                            1
ansal esencia sovereign floors                         1
nirmal enclave, maruti kunj road                       1
mahavir pura                                           1
jacob pura                                             1
signature global city 92                               1
bhim nagar society                                     1
raj villas                                             1
shivaji nagar residential                              1
krishna palace                                         1
naman residency                                        1
sai kripa floors 5                                     1
dlf city plot phase 4                                  1
ansal celebrity homes                                  1
row house                                              1
huda plot sector 38                                    1
mian wali                                              1
ashok vihar phase iii extension                        1
u block dlf phase 3 road no 21                         1
sector 15 part 2 rwa                                   1
nitin vihar                                            1
cloudnine cottages                                     1
rattan vihar rajendra park                             1
ss omnia                                               1
suncity avenue 76                                      1
adani brahma samsara                                   1
dlf city plot phase 3                                  1
sheetla enclave                                        1
sneh vihar                                             1
smart world orchard                                    1
ansal florence super                                   1
ansal api spanish court                                1
4s aradhya homes                                       1
central park flower valley cerise floors               1
landmark house                                         1
kothi                                                  1
birla navya                                            1
dlf city plots phase 4                                 1
signature global city 63a                              1
ansal                                                  1
signature global city                                  1
signature global city 81                               1
ansal sushant residency                                1
dlf floors phase 3                                     1
unitech south city                                     1
independent house sector 45                            1
ansal sushant lok                                      1
vatika the seven lamps                                 1
unitech greenwood city                                 1
central park                                           1
dlf south city 1                                       1
satya the legend                                       1
dlf pink town house                                    1
vatika independent floors                              1
arjun marg/ sector- 26 phase- 1/ golf course road      1
the laburnum                                           1
ansal sushant lok 2                                    1
sector 57 huda                                         1
godrej meridien                                        1
huda                                                   1
huda floor                                             1
Name: count, dtype: int64

In [19]:
df["society"].value_counts().shape

(183,)

In [20]:
df["society"] = df["society"].str.replace("nan","independent")

# convert Price In CR

In [22]:
df = df[df["price"] != "price on Request"]

In [24]:
df.sample(10)

,property_name,society,price,price_per_squft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
722,3 Bedroom House for sale in Sector 23A Gurgaon,independent,5.1 Crore,"₹ 16,569/sq.ft.",(286 sq.m.) Plot Area,Plot area 342(285.96 sq.m.)Built Up area: 125 ...,3 Bedrooms,2 Bathrooms,No Balcony,Others,"Sector 23A Gurgaon, Gurgaon, Haryana",1 Floors,East,10+ Year Old,"['HUDA Sector 23 Market', 'Palam triangle', 'P...",342 sq yards size of 2bhk with servant room av...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
882,5 Bedroom House for sale in Sector 57 Gurgaon,satya the legend,9.25 Crore,"₹ 16,577/sq.ft.",(537 sq.m.) Plot Area,Plot area 642(536.79 sq.m.)Built Up area: 630 ...,5 Bedrooms,5 Bathrooms,3+ Balconies,"Study Room,Servant Room,Pooja Room,Store Room","7-08, Sector 57 Gurgaon, Gurgaon, Haryana",4 Floors,North-East,1 to 5 Year Old,"['HDFC Bank ATM', 'ICICI Bank ATM', 'YES Bank ...","Sector-57, gurgaon is located on the golf cour...","['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Safety4 out of 5', ..."
872,3 Bedroom House for sale in Sector 49 Gurgaon,eros rosewood city,4.05 Crore,"₹ 20,769/sq.ft.",(159 sq.m.) Plot Area,Plot area 1710(158.86 sq.m.)Built Up area: 200...,3 Bedrooms,3 Bathrooms,3 Balconies,"Servant Room,Store Room","B23, Sector 49 Gurgaon, Gurgaon, Haryana",2 Floors,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Standard charter...",3bhk duplex villa for sale in rosewood city fu...,"['3 Wardrobe', '6 Fan', '3 Geyser', '5 Light',...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment4 out of 5', 'Safety5 out of 5', ..."
644,5 Bedroom House for sale in Mianwali Colony,independent,1.5 Crore,"₹ 11,111/sq.ft.",(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),5 Bedrooms,5 Bathrooms,2 Balconies,NaN,"Mianwali Colony, Gurgaon, Haryana",3 Floors,NaN,10+ Year Old,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'M G...",3 storey independent house for sale,[],"['Centrally Air Conditioned', 'Internet/wi-fi ...","['Environment3.5 out of 5', 'Lifestyle4 out of..."
304,10 Bedroom House for sale in Sector 56 Gurgaon,independent,8 Crore,"₹ 9,654/sq.ft.",(34 sq.m.) Plot Area,Plot area 362(33.63 sq.m.)Built Up area: 8286 ...,10 Bedrooms,10 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room","Huda Plots, Sector 56 Gurgaon, Gurgaon, Haryana",4 Floors,NaN,1 to 5 Year Old,"['Sector metro station', 'Sector metro station...",This newly renovated and furnished home is fab...,"['1 Water Purifier', '12 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
459,5 Bedroom House for sale in Mianwali Colony,independent,1.35 Crore,"₹ 12,222/sq.ft.",(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.)Built Up area: 2052...,5 Bedrooms,5 Bathrooms,1 Balcony,NaN,"Mianwali Colony, Mianwali Colony, Gurgaon, Har...",3 Floors,NaN,10+ Year Old,"['Shreeji Clinic', 'Sudant Dental Clinic', 'Pa...",Interested to sell independent house/villa.Pla...,NaN,"['Private Garden / Terrace', 'Water Storage', ...","['Environment3.5 out of 5', 'Lifestyle4 out of..."
255,9 Bedroom House for sale in Sheetla Colony,independent,1.65 Crore,"₹ 75,000/sq.ft.",(20 sq.m.) Built-up Area,Built Up area: 220 (20.44 sq.m.),9 Bedrooms,9 Bathrooms,No Balcony,NaN,"Sheetla Colony, Sheetla Colony, Gurgaon, Haryana",1 Floors,NaN,0 to 1 Year Old,NaN,Best in class property available at sheetla co...,"['1 Wardrobe', '1 Light', 'No AC', 'No Bed', '...",NaN,"['Environment3 out of 5', 'Lifestyle3 out of 5..."
689,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,18.5 Crore,"₹ 26,428/sq.ft.",(650 sq.m.) Plot Area,Plot area 7000(650.32 sq.m.),4 Bedrooms,4 Bathrooms,1 Balcony,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",1 Floors,NaN,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Tatvam villas presents luxury key ready, fully...","['2 Bed', '1 Sofa', '1 Dining Table', '3 Light...","['Private Garden / Terrace', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
37,3 Bedroom House for sale in Sector 15 Part 2,independent,7.2 Crore,"₹ 22,222/sq.ft.",(300 sq.m.) Plot Area,Plot area 359(300.17 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,Store Room,"Sector 15 Part 2, Gurgaon, Haryana",1 Floors,North,10+ Year Old,"['Hanuman Mandir', 'State bank of india ATM', ...",Sector 15/part-2 is located adjacent to nh_8 a...,NaN,"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [26]:
df["price"].value_counts()

price
3.5 Crore           19
5.5 Crore           17
6.5 Crore           16
6 Crore             14
5 Crore             13
4.5 Crore           13
70 Lac              13
8 Crore             13
50 Lac              13
75 Lac              13
7 Crore             12
2.5 Crore           12
8.5 Crore           12
85 Lac              12
1.5 Crore           11
4 Crore             11
90 Lac              10
Price on Request    10
2.25 Crore          10
45 Lac              10
60 Lac              10
10 Crore            10
9 Crore             10
9.5 Crore            9
12 Crore             9
2 Crore              9
80 Lac               9
1.7 Crore            9
1.1 Crore            9
11 Crore             8
1 Crore              8
1.6 Crore            8
4.6 Crore            8
6.75 Crore           8
3.75 Crore           8
40 Lac               7
1.2 Crore            7
55 Lac               7
65 Lac               7
1.3 Crore            7
12.5 Crore           7
95 Lac               7
2.1 Crore            7
1.35 Crore           7
6.25 Crore           6
16 Crore             6
5.6 Crore            6
3.25 Crore           6
2.95 Crore           6
10.5 Crore           6
7.25 Crore           6
3.6 Crore            6
2.75 Crore           6
1.45 Crore           6
5.7 Crore            6
13.5 Crore           6
4.25 Crore           6
7.5 Crore            6
1.15 Crore           6
15 Crore             5
8.25 Crore           5
5.75 Crore           5
17 Crore             5
4.75 Crore           5
38 Lac               5
3 Crore              5
35 Lac               5
2.8 Crore            5
1.8 Crore            5
1.25 Crore           5
13 Crore             4
8.4 Crore            4
5.8 Crore            4
18 Crore             4
9.25 Crore           4
4.35 Crore           4
3.3 Crore            4
1.4 Crore            4
1.65 Crore           4
37 Lac               4
4.7 Crore            4
11.5 Crore           4
3.2 Crore            4
2.4 Crore            4
42 Lac               4
6.8 Crore            4
5.25 Crore           4
20 Crore             3
1.95 Crore           3
4.45 Crore           3
5.65 Crore           3
82 Lac               3
2.2 Crore            3
6.95 Crore           3
1.55 Crore           3
2.3 Crore            3
3.1 Crore            3
3.85 Crore           3
1.85 Crore           3
5.15 Crore           3
92 Lac               3
32 Lac               3
1.16 Crore           3
34 Lac               3
62 Lac               3
49 Lac               3
1.9 Crore            3
4.3 Crore            3
3.55 Crore           3
2.55 Crore           3
3.4 Crore            3
7.2 Crore            3
7.35 Crore           3
2.9 Crore            3
19 Crore             3
6.4 Crore            3
11.95 Crore          2
1.05 Crore           2
10.45 Crore          2
6.3 Crore            2
30 Lac               2
14 Crore             2
36 Lac               2
3.05 Crore           2
11.75 Crore          2
3.65 Crore           2
5.4 Crore            2
7.99 Crore           2
15.5 Crore           2
89 Lac               2
58.25 Lac            2
2.15 Crore           2
67 Lac               2
19.5 Crore           2
1.75 Crore           2
48 Lac               2
66 Lac               2
11.25 Crore          2
10.85 Crore          2
58 Lac               2
7.1 Crore            2
4.95 Crore           2
10.55 Crore          2
3.15 Crore           2
3.35 Crore           2
9.9 Crore            2
3.51 Crore           2
26 Crore             2
8.49 Crore           2
5.85 Crore           1
8.8 Crore            1
1.87 Crore           1
4.12 Crore           1
5.9 Crore            1
6.6 Crore            1
5.35 Crore           1
25 Crore             1
2.68 Crore           1
61 Lac               1
18.25 Crore          1
2.35 Crore           1
9.55 Crore           1
4.99 Crore           1
8.6 Crore            1
9.01 Crore           1
9.8 Crore            1
1.04 Crore           1
9.85 Crore           1
15.1 Crore           1
1.18 Crore           1
2.7 Crore            1
10.75 Crore          1
15.5 Lac             1
8.7 Crore            1
7.49 Crore           1
55.11 Lac            1
68 Lac               1
6.1 Crore            1
52 Lac               1
4.65 Crore           1
63 Lac               1
1.52 Crore           1
1.72 Crore           1
78 Lac               1
2.58 Crore           1
7.5 Lac              1
8.95 Crore           1
13.2 Crore           1
51 Lac               1
53 Lac               1
7.69 Crore           1
22 Lac               1
3.12 Crore           1
7.05 Crore           1
11.3 Crore           1
3.69 Crore           1
4.02 Crore           1
3.93 Crore           1
6.2 Crore            1
18 Lac               1
3.08 Crore           1
29 Lac               1
83 Lac               1
98 Lac               1
44 Lac               1
12.39 Crore          1
65.8 Lac             1
18.02 Crore          1
96 Lac               1
13 Lac               1
2.43 Crore           1
69 Lac               1
74 Lac               1
3.09 Crore           1
24 Lac               1
47.5 Lac             1
2.6 Crore            1
3.87 Crore           1
59 Lac               1
46 Lac               1
1.39 Crore           1
1.34 Crore           1
14.75 Crore          1
8.1 Crore            1
27 Lac               1
9.54 Crore           1
18.9 Crore           1
24 Crore             1
7.46 Crore           1
17.3 Crore           1
42.75 Lac            1
47 Lac               1
71 Lac               1
52.5 Lac             1
1.44 Crore           1
3.71 Crore           1
1.07 Crore           1
5.2 Crore            1
4.15 Crore           1
22 Crore             1
4.49 Crore           1
8.9 Crore            1
6.81 Crore           1
8.81 Crore           1
3.99 Crore           1
59.95 Lac            1
18.5 Crore           1
27.5 Crore           1
8.31 Crore           1
6.21 Crore           1
1.83 Crore           1
5.1 Crore            1
5.46 Crore           1
10.56 Crore          1
2.01 Crore           1
3.9 Crore            1
5.88 Crore           1
52.75 Lac            1
12.25 Crore          1
46.75 Lac            1
9.4 Crore            1
10.3 Crore           1
8.45 Crore           1
6.15 Crore           1
2.47 Crore           1
3.7 Crore            1
18.4 Crore           1
4.4 Crore            1
7.3 Crore            1
7.6 Crore            1
2.65 Crore           1
99 Lac               1
11.29 Crore          1
1.27 Crore           1
11.58 Crore          1
8.48 Crore           1
8.2 Crore            1
4.31 Crore           1
3.49 Crore           1
2.99 Crore           1
9.19 Crore           1
1.64 Crore           1
9.35 Crore           1
4.05 Crore           1
8.75 Crore           1
5.51 Crore           1
23 Crore             1
2.45 Crore           1
7.85 Crore           1
5.3 Crore            1
10.8 Crore           1
31.5 Crore           1
4.1 Crore            1
7.65 Crore           1
6.46 Crore           1
6.44 Crore           1
7.8 Crore            1
3.8 Crore            1
7.45 Crore           1
7.42 Crore           1
6.09 Crore           1
2.98 Crore           1
Name: count, dtype: int64

In [32]:
def treat_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)

In [ ]:
df['price'] = df['price'].str.split(' ').apply(treat_price)

# price_per_square_fit

In [35]:
df['price_per_squft'].value_counts()

price_per_squft
₹ 22,222/sq.ft.     14
₹ 33,333/sq.ft.     11
₹ 11,111/sq.ft.     11
₹ 10,000/sq.ft.     10
₹ 13,333/sq.ft.      6
₹ 37,037/sq.ft.      6
₹ 26,667/sq.ft.      6
₹ 30,556/sq.ft.      6
₹ 31,481/sq.ft.      6
₹ 26,235/sq.ft.      6
₹ 23,333/sq.ft.      5
₹ 5,000/sq.ft.       5
₹ 11,100/sq.ft.      5
₹ 8,000/sq.ft.       5
₹ 8,889/sq.ft.       5
₹ 23,148/sq.ft.      5
₹ 9,444/sq.ft.       5
₹ 18,889/sq.ft.      4
₹ 7,058/sq.ft.       4
₹ 24,691/sq.ft.      4
₹ 35,000/sq.ft.      4
₹ 21,605/sq.ft.      4
₹ 32,407/sq.ft.      4
₹ 9,722/sq.ft.       4
₹ 27,778/sq.ft.      4
₹ 34,722/sq.ft.      4
₹ 25,000/sq.ft.      4
₹ 6,944/sq.ft.       4
₹ 12,222/sq.ft.      3
₹ 29,880/sq.ft.      3
₹ 17,284/sq.ft.      3
₹ 25,562/sq.ft.      3
₹ 10,556/sq.ft.      3
₹ 24,500/sq.ft.      3
₹ 11,250/sq.ft.      3
₹ 14,815/sq.ft.      3
₹ 20,000/sq.ft.      3
₹ 8,333/sq.ft.       3
₹ 16,058/sq.ft.      3
₹ 60,000/sq.ft.      3
₹ 15,625/sq.ft.      3
₹ 13,889/sq.ft.      3
₹ 25,926/sq.ft.      3
₹ 8,444/sq.ft.       3
₹ 8,235/sq.ft.       3
₹ 7,500/sq.ft.       3
₹ 5,555/sq.ft.       3
₹ 45,833/sq.ft.      3
₹ 33,951/sq.ft.      3
₹ 15,555/sq.ft.      3
₹ 32,222/sq.ft.      3
₹ 12,000/sq.ft.      3
₹ 50,000/sq.ft.      3
₹ 36,111/sq.ft.      3
₹ 6,666/sq.ft.       3
₹ 26,852/sq.ft.      2
₹ 20,833/sq.ft.      2
₹ 11,574/sq.ft.      2
₹ 9,634/sq.ft.       2
₹ 17,037/sq.ft.      2
₹ 14,444/sq.ft.      2
₹ 32,328/sq.ft.      2
₹ 11,852/sq.ft.      2
₹ 38,580/sq.ft.      2
₹ 29,630/sq.ft.      2
₹ 59,259/sq.ft.      2
₹ 12,500/sq.ft.      2
₹ 75,000/sq.ft.      2
₹ 21,759/sq.ft.      2
₹ 4,444/sq.ft.       2
₹ 3,857/sq.ft.       2
₹ 24,845/sq.ft.      2
₹ 24,155/sq.ft.      2
₹ 12,963/sq.ft.      2
₹ 10,101/sq.ft.      2
₹ 9,000/sq.ft.       2
₹ 37,627/sq.ft.      2
₹ 39,841/sq.ft.      2
₹ 3,500/sq.ft.       2
₹ 100,000/sq.ft.     2
₹ 10,753/sq.ft.      2
₹ 24,306/sq.ft.      2
₹ 17,778/sq.ft.      2
₹ 26,389/sq.ft.      2
₹ 27,971/sq.ft.      2
₹ 12,519/sq.ft.      2
₹ 37,777/sq.ft.      2
₹ 16,378/sq.ft.      2
₹ 29,716/sq.ft.      2
₹ 20,690/sq.ft.      2
₹ 15,257/sq.ft.      2
₹ 10,783/sq.ft.      2
₹ 20,635/sq.ft.      2
₹ 8,888/sq.ft.       2
₹ 13,000/sq.ft.      2
₹ 38,194/sq.ft.      2
₹ 44,444/sq.ft.      2
₹ 42,222/sq.ft.      2
₹ 21,124/sq.ft.      2
₹ 12,342/sq.ft.      2
₹ 38,760/sq.ft.      2
₹ 38,095/sq.ft.      2
₹ 35,185/sq.ft.      2
₹ 48,148/sq.ft.      2
₹ 35,556/sq.ft.      2
₹ 16,975/sq.ft.      2
₹ 55,000/sq.ft.      2
₹ 19,000/sq.ft.      2
₹ 7,407/sq.ft.       2
₹ 10,518/sq.ft.      2
₹ 16,039/sq.ft.      2
₹ 9,259/sq.ft.       2
₹ 21,000/sq.ft.      2
₹ 15,700/sq.ft.      2
₹ 12,027/sq.ft.      2
₹ 13,910/sq.ft.      2
₹ 23,457/sq.ft.      2
₹ 32,963/sq.ft.      2
₹ 12,444/sq.ft.      2
₹ 13,622/sq.ft.      2
₹ 19,708/sq.ft.      2
₹ 82,540/sq.ft.      1
₹ 13,178/sq.ft.      1
₹ 29,697/sq.ft.      1
₹ 18,888/sq.ft.      1
₹ 13,501/sq.ft.      1
₹ 23,000/sq.ft.      1
₹ 20,988/sq.ft.      1
₹ 400,000/sq.ft.     1
₹ 24,171/sq.ft.      1
₹ 26,298/sq.ft.      1
₹ 21,296/sq.ft.      1
₹ 18,626/sq.ft.      1
₹ 24,366/sq.ft.      1
₹ 6,778/sq.ft.       1
₹ 20,940/sq.ft.      1
₹ 32,253/sq.ft.      1
₹ 23,704/sq.ft.      1
₹ 23,693/sq.ft.      1
₹ 15,989/sq.ft.      1
₹ 19,268/sq.ft.      1
₹ 19,360/sq.ft.      1
₹ 23,437/sq.ft.      1
₹ 26,428/sq.ft.      1
₹ 40,850/sq.ft.      1
₹ 26,111/sq.ft.      1
₹ 31,790/sq.ft.      1
₹ 235,376/sq.ft.     1
₹ 29,293/sq.ft.      1
₹ 16,004/sq.ft.      1
₹ 27,333/sq.ft.      1
₹ 17,624/sq.ft.      1
₹ 2,716/sq.ft.       1
₹ 22,812/sq.ft.      1
₹ 261,194/sq.ft.     1
₹ 178,571/sq.ft.     1
₹ 27,461/sq.ft.      1
₹ 31,686/sq.ft.      1
₹ 23,061/sq.ft.      1
₹ 17,662/sq.ft.      1
₹ 20,068/sq.ft.      1
₹ 10,601/sq.ft.      1
₹ 21,242/sq.ft.      1
₹ 32,562/sq.ft.      1
₹ 22,429/sq.ft.      1
₹ 39,530/sq.ft.      1
₹ 38,889/sq.ft.      1
₹ 57,206/sq.ft.      1
₹ 27,222/sq.ft.      1
₹ 63,554/sq.ft.      1
₹ 16,569/sq.ft.      1
₹ 7,555/sq.ft.       1
₹ 49,500/sq.ft.      1
₹ 13,030/sq.ft.      1
₹ 308,333/sq.ft.     1
₹ 10,610/sq.ft.      1
₹ 7,302/sq.ft.       1
₹ 8,155/sq.ft.       1
₹ 10,591/sq.ft.      1
₹ 24,074/sq.ft.      1
₹ 23,889/sq.ft.      1
₹ 144,444/sq.ft.     1
₹ 9,615/sq.ft.       1
₹ 6,813/sq.ft.       1
₹ 15,046/sq.ft.      1
₹ 11,583/sq.ft.      1
₹ 6,034/sq.ft.       1
₹ 10,085/sq.ft.      1
₹ 40,611/sq.ft.      1
₹ 29,629/sq.ft.      1
₹ 10,740/sq.ft.      1
₹ 5,160/sq.ft.       1
₹ 14,184/sq.ft.      1
₹ 10,582/sq.ft.      1
₹ 9,390/sq.ft.       1
₹ 84,000/sq.ft.      1
₹ 6,938/sq.ft.       1
₹ 7,539/sq.ft.       1
₹ 10,067/sq.ft.      1
₹ 1,649/sq.ft.       1
₹ 28,898/sq.ft.      1
₹ 28,200/sq.ft.      1
₹ 8,127/sq.ft.       1
₹ 20,444/sq.ft.      1
₹ 6,289/sq.ft.       1
₹ 17,857/sq.ft.      1
₹ 7,000/sq.ft.       1
₹ 14,166/sq.ft.      1
₹ 30,968/sq.ft.      1
₹ 7,777/sq.ft.       1
₹ 18,658/sq.ft.      1
₹ 10,484/sq.ft.      1
₹ 160,000/sq.ft.     1
₹ 7,168/sq.ft.       1
₹ 11,102/sq.ft.      1
₹ 8,866/sq.ft.       1
₹ 36,911/sq.ft.      1
₹ 15,444/sq.ft.      1
₹ 11,240/sq.ft.      1
₹ 15,437/sq.ft.      1
₹ 14,351/sq.ft.      1
₹ 27,191/sq.ft.      1
₹ 241,666/sq.ft.     1
₹ 17,980/sq.ft.      1
₹ 24,455/sq.ft.      1
₹ 194,444/sq.ft.     1
₹ 18,444/sq.ft.      1
₹ 11,600/sq.ft.      1
₹ 13,492/sq.ft.      1
₹ 11,157/sq.ft.      1
₹ 21,495/sq.ft.      1
₹ 42,054/sq.ft.      1
₹ 1,560/sq.ft.       1
₹ 20,741/sq.ft.      1
₹ 33,592/sq.ft.      1
₹ 19,737/sq.ft.      1
₹ 5,093/sq.ft.       1
₹ 25,463/sq.ft.      1
₹ 7,007/sq.ft.       1
₹ 8,920/sq.ft.       1
₹ 35,294/sq.ft.      1
₹ 8,254/sq.ft.       1
₹ 5,128/sq.ft.       1
₹ 5,777/sq.ft.       1
₹ 15,926/sq.ft.      1
₹ 31,915/sq.ft.      1
₹ 34,307/sq.ft.      1
₹ 51,864/sq.ft.      1
₹ 44,265/sq.ft.      1
₹ 29,444/sq.ft.      1
₹ 39,074/sq.ft.      1
₹ 38,734/sq.ft.      1
₹ 23,442/sq.ft.      1
₹ 41,833/sq.ft.      1
₹ 600,000/sq.ft.     1
₹ 10,260/sq.ft.      1
₹ 14,285/sq.ft.      1
₹ 16,319/sq.ft.      1
₹ 18,250/sq.ft.      1
₹ 27,390/sq.ft.      1
₹ 30,728/sq.ft.      1
₹ 41,315/sq.ft.      1
₹ 3,786/sq.ft.       1
₹ 9,349/sq.ft.       1
₹ 23,504/sq.ft.      1
₹ 234,375/sq.ft.     1
₹ 4,260/sq.ft.       1
₹ 15,432/sq.ft.      1
₹ 21,251/sq.ft.      1
₹ 27,160/sq.ft.      1
₹ 35,530/sq.ft.      1
₹ 22,046/sq.ft.      1
₹ 27,132/sq.ft.      1
₹ 22,855/sq.ft.      1
₹ 40,741/sq.ft.      1
₹ 29,333/sq.ft.      1
₹ 290,948/sq.ft.     1
₹ 21,786/sq.ft.      1
₹ 55,556/sq.ft.      1
₹ 38,986/sq.ft.      1
₹ 24,510/sq.ft.      1
₹ 11,428/sq.ft.      1
₹ 22,184/sq.ft.      1
₹ 30,247/sq.ft.      1
₹ 20,370/sq.ft.      1
₹ 31,666/sq.ft.      1
₹ 283,333/sq.ft.     1
₹ 14,787/sq.ft.      1
₹ 12,285/sq.ft.      1
₹ 19,293/sq.ft.      1
₹ 20,599/sq.ft.      1
₹ 173,992/sq.ft.     1
₹ 21,367/sq.ft.      1
₹ 20,299/sq.ft.      1
₹ 41,818/sq.ft.      1
₹ 19,231/sq.ft.      1
₹ 6,875/sq.ft.       1
₹ 14,667/sq.ft.      1
₹ 18,008/sq.ft.      1
₹ 24,573/sq.ft.      1
₹ 24,005/sq.ft.      1
₹ 32,870/sq.ft.      1
₹ 33,404/sq.ft.      1
₹ 23,240/sq.ft.      1
₹ 16,071/sq.ft.      1
₹ 51,440/sq.ft.      1
₹ 28,782/sq.ft.      1
₹ 34,491/sq.ft.      1
₹ 12,393/sq.ft.      1
₹ 47,803/sq.ft.      1
₹ 6,230/sq.ft.       1
₹ 33,665/sq.ft.      1
₹ 20,566/sq.ft.      1
₹ 20,349/sq.ft.      1
₹ 24,202/sq.ft.      1
₹ 23,870/sq.ft.      1
₹ 20,026/sq.ft.      1
₹ 28,787/sq.ft.      1
₹ 12,551/sq.ft.      1
₹ 34,351/sq.ft.      1
₹ 22,331/sq.ft.      1
₹ 20,317/sq.ft.      1
₹ 18,088/sq.ft.      1
₹ 16,600/sq.ft.      1
₹ 21,219/sq.ft.      1
₹ 19,125/sq.ft.      1
₹ 18,885/sq.ft.      1
₹ 15,000/sq.ft.      1
₹ 18,814/sq.ft.      1
₹ 23,932/sq.ft.      1
₹ 266,666/sq.ft.     1
₹ 26,502/sq.ft.      1
₹ 18,808/sq.ft.      1
₹ 10,838/sq.ft.      1
₹ 19,847/sq.ft.      1
₹ 12,037/sq.ft.      1
₹ 17,820/sq.ft.      1
₹ 24,390/sq.ft.      1
₹ 26,063/sq.ft.      1
₹ 79,365/sq.ft.      1
₹ 14,000/sq.ft.      1
₹ 27,083/sq.ft.      1
₹ 43,210/sq.ft.      1
₹ 31,926/sq.ft.      1
₹ 38,611/sq.ft.      1
₹ 27,911/sq.ft.      1
₹ 29,022/sq.ft.      1
₹ 12,837/sq.ft.      1
₹ 12,198/sq.ft.      1
₹ 35,741/sq.ft.      1
₹ 16,066/sq.ft.      1
₹ 7,827/sq.ft.       1
₹ 23,556/sq.ft.      1
₹ 10,035/sq.ft.      1
₹ 28,841/sq.ft.      1
₹ 26,615/sq.ft.      1
₹ 62,222/sq.ft.      1
₹ 6,597/sq.ft.       1
₹ 7,870/sq.ft.       1
₹ 28,233/sq.ft.      1
₹ 15,111/sq.ft.      1
₹ 16,666/sq.ft.      1
₹ 30,864/sq.ft.      1
₹ 161,849/sq.ft.     1
₹ 16,056/sq.ft.      1
₹ 17,707/sq.ft.      1
₹ 7,718/sq.ft.       1
₹ 25,535/sq.ft.      1
₹ 1,859/sq.ft.       1
₹ 10,579/sq.ft.      1
₹ 42,194/sq.ft.      1
₹ 31,444/sq.ft.      1
₹ 201,388/sq.ft.     1
₹ 17,187/sq.ft.      1
₹ 18,928/sq.ft.      1
₹ 10,926/sq.ft.      1
₹ 19,608/sq.ft.      1
₹ 8,089/sq.ft.       1
₹ 6,849/sq.ft.       1
₹ 19,607/sq.ft.      1
₹ 40,000/sq.ft.      1
₹ 34,846/sq.ft.      1
₹ 15,278/sq.ft.      1
₹ 20,769/sq.ft.      1
₹ 34,568/sq.ft.      1
₹ 21,097/sq.ft.      1
₹ 25,556/sq.ft.      1
₹ 7,756/sq.ft.       1
₹ 21,825/sq.ft.      1
₹ 16,577/sq.ft.      1
₹ 17,706/sq.ft.      1
₹ 29,074/sq.ft.      1
₹ 19,820/sq.ft.      1
₹ 31,111/sq.ft.      1
₹ 17,213/sq.ft.      1
₹ 18,620/sq.ft.      1
₹ 17,014/sq.ft.      1
₹ 7,750/sq.ft.       1
₹ 7,172/sq.ft.       1
₹ 29,638/sq.ft.      1
₹ 8,137/sq.ft.       1
₹ 7,582/sq.ft.       1
₹ 18,605/sq.ft.      1
₹ 37,778/sq.ft.      1
₹ 1,087/sq.ft.       1
₹ 19,645/sq.ft.      1
₹ 36,883/sq.ft.      1
₹ 27,871/sq.ft.      1
₹ 35,109/sq.ft.      1
₹ 17,692/sq.ft.      1
₹ 38,022/sq.ft.      1
₹ 25,309/sq.ft.      1
₹ 16,990/sq.ft.      1
₹ 13,513/sq.ft.      1
₹ 16,388/sq.ft.      1
₹ 22,075/sq.ft.      1
₹ 11,666/sq.ft.      1
₹ 47,167/sq.ft.      1
₹ 7,937/sq.ft.       1
₹ 20,197/sq.ft.      1
₹ 34,037/sq.ft.      1
₹ 10,123/sq.ft.      1
₹ 28,858/sq.ft.      1
₹ 28,549/sq.ft.      1
₹ 14,222/sq.ft.      1
₹ 8,486/sq.ft.       1
₹ 11,717/sq.ft.      1
₹ 7,589/sq.ft.       1
₹ 12,592/sq.ft.      1
₹ 15,384/sq.ft.      1
₹ 7,843/sq.ft.       1
₹ 29,336/sq.ft.      1
₹ 10,288/sq.ft.      1
₹ 11,284/sq.ft.      1
₹ 20,233/sq.ft.      1
₹ 10,277/sq.ft.      1
₹ 8,518/sq.ft.       1
₹ 10,555/sq.ft.      1
₹ 557/sq.ft.         1
₹ 8,947/sq.ft.       1
₹ 39,265/sq.ft.      1
₹ 6,083/sq.ft.       1
₹ 230,547/sq.ft.     1
₹ 8,411/sq.ft.       1
₹ 11,029/sq.ft.      1
₹ 8,007/sq.ft.       1
₹ 5,698/sq.ft.       1
₹ 28,283/sq.ft.      1
₹ 24,214/sq.ft.      1
₹ 26,613/sq.ft.      1
₹ 138,888/sq.ft.     1
₹ 7,666/sq.ft.       1
₹ 4,666/sq.ft.       1
₹ 7,778/sq.ft.       1
₹ 6,250/sq.ft.       1
₹ 99,173/sq.ft.      1
₹ 6,172/sq.ft.       1
₹ 9,111/sq.ft.       1
₹ 80,357/sq.ft.      1
₹ 4,117/sq.ft.       1
₹ 7,308/sq.ft.       1
₹ 8,701/sq.ft.       1
₹ 2,296/sq.ft.       1
₹ 9,793/sq.ft.       1
₹ 40,775/sq.ft.      1
₹ 13,888/sq.ft.      1
₹ 20,323/sq.ft.      1
₹ 20,359/sq.ft.      1
₹ 5,833/sq.ft.       1
₹ 11,693/sq.ft.      1
₹ 53,125/sq.ft.      1
₹ 17,900/sq.ft.      1
₹ 39,886/sq.ft.      1
₹ 126,865/sq.ft.     1
₹ 32,291/sq.ft.      1
₹ 27,155/sq.ft.      1
₹ 14,492/sq.ft.      1
₹ 14,045/sq.ft.      1
₹ 10,804/sq.ft.      1
₹ 14,167/sq.ft.      1
₹ 13,157/sq.ft.      1
₹ 5,888/sq.ft.       1
₹ 7,875/sq.ft.       1
₹ 9,654/sq.ft.       1
₹ 40,909/sq.ft.      1
₹ 41,666/sq.ft.      1
₹ 7,280/sq.ft.       1
₹ 90,000/sq.ft.      1
₹ 10,089/sq.ft.      1
₹ 8,697/sq.ft.       1
₹ 8,500/sq.ft.       1
₹ 9,333/sq.ft.       1
₹ 21,667/sq.ft.      1
₹ 20,425/sq.ft.      1
₹ 6,173/sq.ft.       1
₹ 57,692/sq.ft.      1
₹ 10,482/sq.ft.      1
₹ 25,386/sq.ft.      1
₹ 8,735/sq.ft.       1
₹ 18,667/sq.ft.      1
₹ 2,525/sq.ft.       1
₹ 17,695/sq.ft.      1
₹ 21,519/sq.ft.      1
₹ 17,817/sq.ft.      1
₹ 2/sq.ft.           1
₹ 5,472/sq.ft.       1
₹ 122,222/sq.ft.     1
₹ 13,542/sq.ft.      1
₹ 19,097/sq.ft.      1
₹ 7,290/sq.ft.       1
₹ 27,741/sq.ft.      1
₹ 43,534/sq.ft.      1
₹ 45,889/sq.ft.      1
₹ 13,909/sq.ft.      1
₹ 35,400/sq.ft.      1
₹ 8,928/sq.ft.       1
₹ 13,331/sq.ft.      1
₹ 40,135/sq.ft.      1
₹ 16,244/sq.ft.      1
₹ 16,999/sq.ft.      1
₹ 10,714/sq.ft.      1
₹ 10,463/sq.ft.      1
₹ 18,750/sq.ft.      1
₹ 27,793/sq.ft.      1
₹ 22,006/sq.ft.      1
₹ 13,623/sq.ft.      1
₹ 20,115/sq.ft.      1
₹ 105,751/sq.ft.     1
₹ 38,251/sq.ft.      1
₹ 43,066/sq.ft.      1
₹ 53,763/sq.ft.      1
₹ 39,062/sq.ft.      1
₹ 48,889/sq.ft.      1
₹ 38,150/sq.ft.      1
₹ 10,077/sq.ft.      1
₹ 28,490/sq.ft.      1
₹ 33,200/sq.ft.      1
₹ 14,914/sq.ft.      1
₹ 29,861/sq.ft.      1
₹ 41,762/sq.ft.      1
₹ 15,451/sq.ft.      1
₹ 12,938/sq.ft.      1
₹ 9,374/sq.ft.       1
₹ 13,410/sq.ft.      1
₹ 32,593/sq.ft.      1
₹ 24,170/sq.ft.      1
₹ 34,083/sq.ft.      1
₹ 4,074/sq.ft.       1
₹ 630/sq.ft.         1
₹ 86,567/sq.ft.      1
₹ 92,857/sq.ft.      1
₹ 88,157/sq.ft.      1
₹ 29,974/sq.ft.      1
₹ 2,778/sq.ft.       1
₹ 46,906/sq.ft.      1
₹ 23,699/sq.ft.      1
₹ 28,760/sq.ft.      1
₹ 28,424/sq.ft.      1
₹ 4,490/sq.ft.       1
₹ 14,729/sq.ft.      1
₹ 25,111/sq.ft.      1
₹ 7,309/sq.ft.       1
₹ 74,074/sq.ft.      1
₹ 10,233/sq.ft.      1
₹ 8,878/sq.ft.       1
₹ 14,286/sq.ft.      1
₹ 25,960/sq.ft.      1
₹ 41,615/sq.ft.      1
₹ 38,703/sq.ft.      1
₹ 12,828/sq.ft.      1
₹ 12,842/sq.ft.      1
₹ 8,557/sq.ft.       1
₹ 16,428/sq.ft.      1
₹ 13,519/sq.ft.      1
₹ 42,032/sq.ft.      1
₹ 24,069/sq.ft.      1
₹ 9,028/sq.ft.       1
₹ 13,778/sq.ft.      1
₹ 21,250/sq.ft.      1
₹ 38,667/sq.ft.      1
₹ 12,593/sq.ft.      1
₹ 25,514/sq.ft.      1
₹ 17,650/sq.ft.      1
₹ 24,280/sq.ft.      1
₹ 26,423/sq.ft.      1
₹ 8,916/sq.ft.       1
₹ 36,667/sq.ft.      1
₹ 14,650/sq.ft.      1
₹ 4,000/sq.ft.       1
₹ 14,720/sq.ft.      1
₹ 5,664/sq.ft.       1
₹ 19,753/sq.ft.      1
₹ 76,000/sq.ft.      1
₹ 63,492/sq.ft.      1
₹ 2,500/sq.ft.       1
₹ 6,667/sq.ft.       1
₹ 3,704/sq.ft.       1
₹ 4,808/sq.ft.       1
₹ 6,648/sq.ft.       1
₹ 11,407/sq.ft.      1
₹ 33,129/sq.ft.      1
₹ 20,062/sq.ft.      1
₹ 11,494/sq.ft.      1
₹ 25,543/sq.ft.      1
₹ 12,343/sq.ft.      1
₹ 16,892/sq.ft.      1
₹ 17,500/sq.ft.      1
₹ 12,777/sq.ft.      1
₹ 245,398/sq.ft.     1
₹ 11,904/sq.ft.      1
₹ 9,135/sq.ft.       1
₹ 7,111/sq.ft.       1
₹ 8,012/sq.ft.       1
₹ 183,333/sq.ft.     1
₹ 10,142/sq.ft.      1
₹ 8,125/sq.ft.       1
₹ 14,583/sq.ft.      1
₹ 7,820/sq.ft.       1
₹ 8,730/sq.ft.       1
₹ 8,230/sq.ft.       1
₹ 13,095/sq.ft.      1
₹ 29,311/sq.ft.      1
₹ 30,384/sq.ft.      1
₹ 19,818/sq.ft.      1
₹ 1,992/sq.ft.       1
₹ 7,619/sq.ft.       1
₹ 98,214/sq.ft.      1
₹ 13,499/sq.ft.      1
₹ 11,538/sq.ft.      1
₹ 6,702/sq.ft.       1
₹ 18,333/sq.ft.      1
₹ 4,877/sq.ft.       1
₹ 7,479/sq.ft.       1
₹ 7,400/sq.ft.       1
₹ 16,003/sq.ft.      1
₹ 9,103/sq.ft.       1
₹ 7,727/sq.ft.       1
₹ 45,710/sq.ft.      1
₹ 3,904/sq.ft.       1
₹ 5,950/sq.ft.       1
₹ 26,973/sq.ft.      1
₹ 13,750/sq.ft.      1
₹ 6,000/sq.ft.       1
₹ 14,890/sq.ft.      1
₹ 9,210/sq.ft.       1
₹ 6,800/sq.ft.       1
₹ 7,333/sq.ft.       1
₹ 8,101/sq.ft.       1
₹ 8,702/sq.ft.       1
₹ 14,323/sq.ft.      1
₹ 4,222/sq.ft.       1
₹ 181,818/sq.ft.     1
₹ 26,620/sq.ft.      1
₹ 9,500/sq.ft.       1
₹ 17,937/sq.ft.      1
₹ 3,254/sq.ft.       1
₹ 5,333/sq.ft.       1
₹ 4,583/sq.ft.       1
₹ 6,981/sq.ft.       1
₹ 16,667/sq.ft.      1
₹ 7,075/sq.ft.       1
₹ 8,078/sq.ft.       1
₹ 4,251/sq.ft.       1
₹ 17,584/sq.ft.      1
₹ 5,397/sq.ft.       1
₹ 9,074/sq.ft.       1
₹ 5,583/sq.ft.       1
₹ 3,519/sq.ft.       1
₹ 11,194/sq.ft.      1
₹ 21,875/sq.ft.      1
₹ 26,000/sq.ft.      1
₹ 24,305/sq.ft.      1
₹ 19,286/sq.ft.      1
₹ 22,634/sq.ft.      1
₹ 26,570/sq.ft.      1
₹ 6,410/sq.ft.       1
₹ 133,079/sq.ft.     1
₹ 5,778/sq.ft.       1
₹ 6,111/sq.ft.       1
₹ 6,707/sq.ft.       1
₹ 17,955/sq.ft.      1
₹ 7,916/sq.ft.       1
₹ 211,111/sq.ft.     1
₹ 80,000/sq.ft.      1
₹ 120,000/sq.ft.     1
₹ 22,297/sq.ft.      1
₹ 125,000/sq.ft.     1
₹ 73,333/sq.ft.      1
₹ 6,790/sq.ft.       1
₹ 78,125/sq.ft.      1
₹ 8,222/sq.ft.       1
₹ 11,273/sq.ft.      1
₹ 7,627/sq.ft.       1
₹ 5,666/sq.ft.       1
₹ 6,567/sq.ft.       1
₹ 22,068/sq.ft.      1
₹ 66,666/sq.ft.      1
₹ 8,386/sq.ft.       1
₹ 28,674/sq.ft.      1
₹ 14,072/sq.ft.      1
₹ 21,111/sq.ft.      1
₹ 10,784/sq.ft.      1
₹ 12,162/sq.ft.      1
₹ 8,910/sq.ft.       1
₹ 19,869/sq.ft.      1
₹ 8,796/sq.ft.       1
₹ 7,522/sq.ft.       1
₹ 5,658/sq.ft.       1
₹ 24,545/sq.ft.      1
₹ 7,701/sq.ft.       1
₹ 9,725/sq.ft.       1
₹ 11,556/sq.ft.      1
₹ 10,378/sq.ft.      1
₹ 11,888/sq.ft.      1
₹ 32,258/sq.ft.      1
₹ 16,389/sq.ft.      1
₹ 31,506/sq.ft.      1
₹ 12,820/sq.ft.      1
₹ 229,885/sq.ft.     1
₹ 12,400/sq.ft.      1
₹ 315,789/sq.ft.     1
₹ 218,750/sq.ft.     1
₹ 54,794/sq.ft.      1
₹ 14,245/sq.ft.      1
₹ 6,367/sq.ft.       1
₹ 37,313/sq.ft.      1
₹ 90,909/sq.ft.      1
₹ 10,122/sq.ft.      1
₹ 8,642/sq.ft.       1
₹ 6,481/sq.ft.       1
₹ 232/sq.ft.         1
₹ 10,224/sq.ft.      1
₹ 3,285/sq.ft.       1
₹ 74,000/sq.ft.      1
₹ 27,139/sq.ft.      1
₹ 23,662/sq.ft.      1
₹ 17,574/sq.ft.      1
₹ 9,091/sq.ft.       1
₹ 23,557/sq.ft.      1
₹ 105,263/sq.ft.     1
₹ 7,576/sq.ft.       1
₹ 151/sq.ft.         1
₹ 25,103/sq.ft.      1
₹ 14,954/sq.ft.      1
₹ 8,784/sq.ft.       1
₹ 6,500/sq.ft.       1
₹ 35,494/sq.ft.      1
₹ 11,464/sq.ft.      1
₹ 11,718/sq.ft.      1
₹ 11,555/sq.ft.      1
₹ 3,874/sq.ft.       1
₹ 21,195/sq.ft.      1
Name: count, dtype: int64

In [38]:
df['price_per_squft'] = (
    df['price_per_squft']
    .str[0]                        # Access first element of the list
    .str.replace(r'[^\d]', '', regex=True) # Remove all non-numeric characters

)

In [39]:
df["price_per_squft"].sample()

382
Name: price_per_squft, dtype: object

In [40]:
df["areaWithType"].value_counts()

areaWithType
Plot area 360(301.01 sq.m.)                                                                                            39
Plot area 300(250.84 sq.m.)                                                                                            27
Plot area 200(167.23 sq.m.)                                                                                            21
Plot area 270(225.75 sq.m.)                                                                                            19
Plot area 502(419.74 sq.m.)                                                                                            19
Plot area 900(83.61 sq.m.)                                                                                             17
Plot area 500(418.06 sq.m.)                                                                                            15
Plot area 150(125.42 sq.m.)                                                                                            14
Plot area 215(179.77 sq.m.)                                                                                            12
Plot area 100(83.61 sq.m.)                                                                                             11
Plot area 400(334.45 sq.m.)                                                                                            11
Plot area 161(134.62 sq.m.)                                                                                            11
Plot area 316(264.22 sq.m.)                                                                                            10
Plot area 240(200.67 sq.m.)                                                                                             9
Plot area 250(209.03 sq.m.)                                                                                             9
Plot area 173(144.65 sq.m.)                                                                                             8
Plot area 450(41.81 sq.m.)                                                                                              7
Plot area 263(219.9 sq.m.)                                                                                              7
Plot area 204(170.57 sq.m.)                                                                                             7
Plot area 600(501.68 sq.m.)                                                                                             7
Plot area 160(133.78 sq.m.)                                                                                             6
Plot area 60(50.17 sq.m.)                                                                                               6
Plot area 4000(371.61 sq.m.)                                                                                            6
Plot area 192(160.54 sq.m.)                                                                                             6
Plot area 290(242.48 sq.m.)                                                                                             6
Plot area 520(434.79 sq.m.)                                                                                             5
Plot area 180(150.5 sq.m.)                                                                                              5
Carpet area: 900 (83.61 sq.m.)                                                                                          5
Plot area 350(292.64 sq.m.)                                                                                             5
Plot area 1000(836.13 sq.m.)                                                                                            5
Plot area 692(578.6 sq.m.)                                                                                              5
Plot area 3400(315.87 sq.m.)                                                                                            4
Plot area 120(100.34 sq.m.)                                                                                             4
Plot area 62(51.84 sq.m.)                                                                                               4
Plot area 50(41.81 sq.m.)                                                                                               4
Built Up area: 450 (41.81 sq.m.)                                                                                        4
Plot area 1000(92.9 sq.m.)                                                                                              4
Plot area 360(33.45 sq.m.)                                                                                              4
Built Up area: 900 (83.61 sq.m.)                                                                                        4
Plot area 40(33.45 sq.m.)                                                                                               4
Plot area 163(136.29 sq.m.)                                                                                             4
Plot area 540(50.17 sq.m.)                                                                                              3
Plot area 117(97.83 sq.m.)                                                                                              3
Built Up area: 1000 (92.9 sq.m.)                                                                                        3
Plot area 1800(167.23 sq.m.)                                                                                            3
Plot area 275(229.94 sq.m.)                                                                                             3
Built Up area: 6000 (557.42 sq.m.)                                                                                      3
Plot area 260(217.39 sq.m.)                                                                                             3
Built Up area: 4500 (418.06 sq.m.)                                                                                      3
Built Up area: 3000 (278.71 sq.m.)                                                                                      3
Built Up area: 7000 (650.32 sq.m.)                                                                                      3
Plot area 600(55.74 sq.m.)                                                                                              3
Plot area 109(91.14 sq.m.)                                                                                              3
Plot area 130(108.7 sq.m.)                                                                                              3
Plot area 100(9.29 sq.m.)                                                                                               3
Built Up area: 1350 (125.42 sq.m.)                                                                                      3
Plot area 288(240.8 sq.m.)                                                                                              3
Plot area 550(459.87 sq.m.)                                                                                             3
Plot area 418(349.5 sq.m.)                                                                                              3
Plot area 320(267.56 sq.m.)                                                                                             3
Plot area 342(285.96 sq.m.)                                                                                             3
Plot area 4500(418.06 sq.m.)                                                                                            3
Plot area 550(51.1 sq.m.)                                                                                               3
Plot area 60(5.57 sq.m.)                                                                                                2
Built Up area: 6382 (592.91 sq.m.)                                                                                      2
Plot area 292(244.15 sq.m.)                                                                                             2
Plot area 163(136.29 sq.m.)Built Up area: 160 sq.yards (133.78 sq.m.)Carpet area: 150 sq.yards (125.42 sq.m.)           2
Carpet area: 1187 (110.28 sq.m.)                                                                                        2
Carpet area: 1450 (134.71 sq.m.)                                                                                        2
Plot area 358(299.33 sq.m.)                                                                                             2
Plot area 2160(200.67 sq.m.)Built Up area: 1800 sq.ft. (167.23 sq.m.)Carpet area: 1400 sq.ft. (130.06 sq.m.)            2
Plot area 172(143.81 sq.m.)                                                                                             2
Plot area 7000(650.32 sq.m.)                                                                                            2
Built Up area: 4000 (371.61 sq.m.)                                                                                      2
Built Up area: 2250 (209.03 sq.m.)                                                                                      2
Plot area 1350(125.42 sq.m.)                                                                                            2
Plot area 80(66.89 sq.m.)                                                                                               2
Plot area 205(171.41 sq.m.)                                                                                             2
Plot area 138(115.39 sq.m.)                                                                                             2
Plot area 101(84.45 sq.m.)                                                                                              2
Built Up area: 480 (44.59 sq.m.)                                                                                        2
Plot area 1125(104.52 sq.m.)                                                                                            2
Plot area 135(112.88 sq.m.)                                                                                             2
Plot area 300(27.87 sq.m.)                                                                                              2
Plot area 402(336.12 sq.m.)                                                                                             2
Built Up area: 360 (33.45 sq.m.)                                                                                        2
Built Up area: 7331 (681.07 sq.m.)                                                                                      2
Plot area 167(139.63 sq.m.)                                                                                             2
Plot area 67(6.22 sq.m.)                                                                                                2
Carpet area: 802 (74.51 sq.m.)                                                                                          2
Carpet area: 500 (46.45 sq.m.)                                                                                          2
Plot area 2500(232.26 sq.m.)                                                                                            2
Built Up area: 160 (14.86 sq.m.)                                                                                        2
Plot area 50(4.65 sq.m.)                                                                                                2
Plot area 2700(250.84 sq.m.)                                                                                            2
Plot area 1700(157.94 sq.m.)                                                                                            2
Carpet area: 1000 (92.9 sq.m.)                                                                                          2
Built Up area: 1200 (111.48 sq.m.)                                                                                      2
Built Up area: 1500 (139.35 sq.m.)                                                                                      2
Built Up area: 2360 (219.25 sq.m.)                                                                                      2
Plot area 166(138.8 sq.m.)                                                                                              2
Carpet area: 1800 (167.23 sq.m.)                                                                                        2
Plot area 75(62.71 sq.m.)                                                                                               2
Built Up area: 800 (74.32 sq.m.)                                                                                        2
Carpet area: 360 (301.01 sq.m.)                                                                                         2
Plot area 1600(148.64 sq.m.)Built Up area: 1700 sq.ft. (157.94 sq.m.)Carpet area: 1650 sq.ft. (153.29 sq.m.)            1
Plot area 539(50.07 sq.m.)                                                                                              1
Plot area 61(51 sq.m.)                                                                                                  1
Plot area 129(107.86 sq.m.)                                                                                             1
Plot area 128(107.02 sq.m.)                                                                                             1
Plot area 1341(124.58 sq.m.)                                                                                            1
Plot area 204(170.57 sq.m.)Built Up area: 206 sq.yards (172.24 sq.m.)Carpet area: 205 sq.yards (171.41 sq.m.)           1
Plot area 162(135.45 sq.m.)Built Up area: 162 sq.yards (135.45 sq.m.)Carpet area: 160 sq.yards (133.78 sq.m.)           1
Plot area 126(11.71 sq.m.)                                                                                              1
Built Up area: 163 (136.29 sq.m.)                                                                                       1
Plot area 232(21.55 sq.m.)                                                                                              1
Built Up area: 232 (193.98 sq.m.)                                                                                       1
Plot area 375(313.55 sq.m.)                                                                                             1
Plot area 240(200.67 sq.m.)Built Up area: 241 sq.yards (201.51 sq.m.)Carpet area: 240 sq.yards (200.67 sq.m.)           1
Plot area 360(301.01 sq.m.)Built Up area: 361 sq.yards (301.84 sq.m.)Carpet area: 300 sq.yards (250.84 sq.m.)           1
Plot area 170(142.14 sq.m.)                                                                                             1
Plot area 189(158.03 sq.m.)                                                                                             1
Plot area 344(287.63 sq.m.)                                                                                             1
Plot area 450(376.26 sq.m.)Built Up area: 360 sq.yards (301.01 sq.m.)Carpet area: 350 sq.yards (292.64 sq.m.)           1
Plot area 60(50.17 sq.m.)Built Up area: 540 sq.yards (451.51 sq.m.)Carpet area: 500 sq.yards (418.06 sq.m.)             1
Plot area 5605(520.72 sq.m.)Built Up area: 5200 sq.ft. (483.1 sq.m.)Carpet area: 4235 sq.ft. (393.44 sq.m.)             1
Plot area 160(14.86 sq.m.)                                                                                              1
Plot area 1737(161.37 sq.m.)Built Up area: 1400 sq.ft. (130.06 sq.m.)Carpet area: 1230 sq.ft. (114.27 sq.m.)            1
Plot area 288(240.8 sq.m.)Built Up area: 240 sq.yards (200.67 sq.m.)Carpet area: 200 sq.yards (167.23 sq.m.)            1
Plot area 290(242.48 sq.m.)Built Up area: 250 sq.yards (209.03 sq.m.)Carpet area: 200 sq.yards (167.23 sq.m.)           1
Plot area 446(41.43 sq.m.)                                                                                              1
Built Up area: 50 (4.65 sq.m.)                                                                                          1
Plot area 145(121.24 sq.m.)                                                                                             1
Plot area 515(430.61 sq.m.)                                                                                             1
Built Up area: 240 (22.3 sq.m.)                                                                                         1
Built Up area: 192 (17.84 sq.m.)                                                                                        1
Carpet area: 535 (49.7 sq.m.)                                                                                           1
Built Up area: 347 (32.24 sq.m.)Carpet area: 215 sq.ft. (19.97 sq.m.)                                                   1
Built Up area: 822 (76.37 sq.m.)Carpet area: 750 sq.ft. (69.68 sq.m.)                                                   1
Plot area 1782.72(165.62 sq.m.)                                                                                         1
Plot area 950(88.26 sq.m.)                                                                                              1
Plot area 150(125.42 sq.m.)Built Up area: 120 sq.yards (100.34 sq.m.)                                                   1
Plot area 900(83.61 sq.m.)Built Up area: 900 sq.ft. (83.61 sq.m.)                                                       1
Plot area 26000(2415.48 sq.m.)                                                                                          1
Built Up area: 3400 (315.87 sq.m.)Carpet area: 1836 sq.ft. (170.57 sq.m.)                                               1
Plot area 1152(107.02 sq.m.)                                                                                            1
Built Up area: 1120 (104.05 sq.m.)                                                                                      1
Carpet area: 110 (91.97 sq.m.)                                                                                          1
Plot area 3653(339.37 sq.m.)                                                                                            1
Carpet area: 2800 (260.13 sq.m.)                                                                                        1
Plot area 312(260.87 sq.m.)Built Up area: 5000 sq.yards (4180.64 sq.m.)                                                 1
Plot area 2250(209.03 sq.m.)                                                                                            1
Plot area 900(83.61 sq.m.)Built Up area: 990 sq.ft. (91.97 sq.m.)Carpet area: 975 sq.ft. (90.58 sq.m.)                  1
Plot area 1200(111.48 sq.m.)                                                                                            1
Built Up area: 1300 (120.77 sq.m.)                                                                                      1
Built Up area: 112 (10.41 sq.m.)                                                                                        1
Plot area 1782(165.55 sq.m.)                                                                                            1
Plot area 720(66.89 sq.m.)                                                                                              1
Built Up area: 3500 (325.16 sq.m.)Carpet area: 2500 sq.ft. (232.26 sq.m.)                                               1
Built Up area: 130 (12.08 sq.m.)                                                                                        1
Plot area 565(52.49 sq.m.)Carpet area: 510 sq.ft. (47.38 sq.m.)                                                         1
Built Up area: 2150 (199.74 sq.m.)                                                                                      1
Plot area 200(18.58 sq.m.)                                                                                              1

In [41]:
df["bedRoom"].value_counts()

bedRoom
4 Bedrooms     240
5 Bedrooms     197
3 Bedrooms     151
2 Bedrooms      91
6 Bedrooms      82
9 Bedrooms      45
1 Bedroom       38
8 Bedrooms      34
7 Bedrooms      32
12 Bedrooms     29
10 Bedrooms     21
16 Bedrooms     12
13 Bedrooms      4
11 Bedrooms      2
19 Bedrooms      2
18 Bedrooms      2
21 Bedrooms      1
20 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64

# remove Text From Columns

In [42]:
df = df[~df["bedRoom"].isnull()]

In [45]:
df["bedRoom"] = df["bedRoom"].str.split(" ").str.get(0).astype("int")

In [47]:
df["bathroom"] = df["bathroom"].str.split(" ").str.get(0).astype("int")

In [50]:
df["balcony"] = df["balcony"].str.split(" ").str.get(0).str.replace("No","0")

# Additinal Room

In [52]:
df["additionalRoom"].fillna("not avilable",inplace=True)

/tmp/ipython-input-2070612307.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["additionalRoom"].fillna("not avilable",inplace=True)

In [51]:
df["additionalRoom"] = df["additionalRoom"].str.lower()

# Floor

In [54]:
df["noOfFloor"].sample(10)

930    2 Floors
888    3 Floors
426    2 Floors
264    1 Floors
952    3 Floors
830    3 Floors
980    2 Floors
924    2 Floors
781    2 Floors
918    3 Floors
Name: noOfFloor, dtype: object

In [56]:
df['noOfFloor'] = (
    df['noOfFloor']
    .str.split(' ')
    .str.get(0)
    .replace({'Ground': '0', 'Basement': '-1', 'Lower': '0'})
    .str.extract(r'(-?\d+)') # Added -? to capture the negative sign for Basement
    .astype(float)
)

In [57]:
df["noOfFloor"].sample()

571    1.0
Name: noOfFloor, dtype: float64

# Facing

In [59]:
df["facing"].value_counts()

facing
East          181
North-East    159
North         114
West           75
North-West     44
South-East     40
South          36
South-West     25
Name: count, dtype: int64

In [60]:
df["noOfFloor"].isnull().sum()

np.int64(20)

In [61]:
df["noOfFloor"].fillna("Na",inplace=True)

/tmp/ipython-input-2972106327.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["noOfFloor"].fillna("Na",inplace=True)
/tmp/ipython-input-2972106327.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Na' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["noOfFloor"].fillna("Na",inplace=True)

In [62]:
df["noOfFloor"].isnull().sum()

np.int64(0)

# Feature Engineering

In [ ]:
df["price"] = df["price"].str.split(" ").str.get(0).astype("float")

In [63]:
df.head()

,property_name,society,price,price_per_squft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25 Crore,,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2.0,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.1 Crore,,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5.0,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5 Crore,,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21,21,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5.0,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3 Crore,,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12,12,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5.0,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [1]:
df.insert(loc=1,column="property_type",value="flat")

NameError: name 'df' is not defined